<!DOCTYPE html>
<html>

<body>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            height: 100vh;
            /* 100% of the viewport height */
        }

        .half {
            flex: 1;
            /* Each half takes up equal space */
            box-sizing: border-box;
            padding: 20px;
            border: 1px solid #ccc;
        }
    </style>
    <div class="half">
        <button onclick="goToHome()">Go to Home Screen</button>
        <h3>Report for month {{ month }}</h3>
        <hr />
        <script>
            function goToHome() {
                window.location.href = '/';
            }
        </script>
        <form id="monthForm">
            <label for="month" method="GET" action="/report">Input Month (1-12):</label>
            <input type="text" name="month" id="monthInput" />
            <button type="submit">Get Summary</button>
        </form>
        <div id="summaryResult"></div>
        <table>
            <thead>
                <tr>
                    <th>Category</th>
                    <th>&nbsp;</th>
                    <th>Total spent in category</th>
                    <th>&nbsp;</th>
                    <th>Average spent in category</th>
                </tr>
            </thead>
            <tbody>
                {% for row in monthlyresults %}
                <tr>
                    <td>{{ row[1] }}</td>
                    <td>&nbsp;</td>
                    <td>{{ row[0] }}</td>
                    <td>&nbsp;</td>
                    <td>{{ row[0] / row[2] * 100|round(2) }}%</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="half">
        &nbsp;
        <h3>Report for the year</h3>
        <form id="yearForm">
            <label for="year" method="GET" action="/year_report">Select Year:</label>
            <input type="text" name="year" id="yearInput" />
            <button type="submit">Get Summary</button>
        </form>
        <script>
            var currentYear = new Date().getFullYear();
            document.getElementById('yearInput').placeholder = currentYear;
        </script>

        <div id="summaryResult"></div>
        <table>
            <thead>
                <tr>
                    <th>Category</th>
                    <th>&nbsp;</th>
                    <th>Total spent in category</th>
                    <th>&nbsp;</th>
                    <th>Average spent in category</th>
                </tr>
            </thead>
            <tbody>
                {% for row in yearlyresults %}
                <tr>
                    <td>{{ row[1] }}</td>
                    <td>&nbsp;</td>
                    <td>{{ row[0] }}</td>
                    <td>&nbsp;</td>
                    <td>{{ row[0] / row[2] * 100|round(2) }}%</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>